FLASK_ENV=development
FLASK_DEBUG=True

SECRET_KEY=replace-this-with-a-secure-secret-key

HOST=127.0.0.1
PORT=5000

FRONTEND_URL=http://localhost:5173

MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DB_NAME=chescure_db